* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

#root {
    display: grid;
    grid-template-columns: max(25vw, 240px) auto;
}

.side-panel {
    background-color: #059669;
    height: 100vh;
    color: white;
}

.logo {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
}

.side-panel-links {
    padding: 1rem;
}

.side-panel-links>ul>li {
    list-style: none;
    margin: 1rem
}

.side-panel-link {
    text-decoration: none;
    color: white;    
}

header {
    background-color: #1e3a8a;
    color: white;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.btn {
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem
}

.btn-primary {
    color: white;
    background-color: #059669;
}

#todos {
    display: grid;
    grid-template-columns: 40px 2fr 2fr 1fr 1fr 1fr;
}